In [51]:
import pandas as pd
import numpy as np

컬럼 2개 구성 (가중치1,가중치2) 
전체 가중치1 (사망+부상) * 1.1

2014 사망 부상 가중치2 (사망+부상) *1.2

2015 사망 부상 가중치2 (사망+부상) *1.5

2016 사망 부상 가중치2 (사망+부상) *1.3

In [52]:
df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
# 조건식 2014년에 해당되는 조건식 구성
filt = df1['구분'].str.slice(start=0,stop=4) =='2014'

In [53]:

df1['가중치1'] = (df1['사망(명)']+df1['부상(명)'])*1.1
df1['가중치2'] = (df1['사망(명)']+df1['부상(명)'])*1.2
df1

          구분  사고(건)  사망(명)  부상(명)   가중치1   가중치2
0    2014년1월    169      7    347  389.4  424.8
1    2014년2월    145      3    268  298.1  325.2
2    2014년3월    206     12    358  407.0  444.0
3    2014년4월    182      4    360  400.4  436.8
4    2014년5월    218     17    474  540.1  589.2
5    2014년6월    233     13    457  517.0  564.0
6    2014년7월    229     14    431  489.5  534.0
7    2014년8월    222      9    447  501.6  547.2
8    2014년9월    225     15    430  489.5  534.0
9   2014년10월    210     14    392  446.6  487.2
10  2014년11월    209     10    386  435.6  475.2
11  2014년12월    178     12    329  375.1  409.2

In [54]:
df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
filt = df2['구분'].str.slice(start=0,stop=4) =='2015'
df2['가중치1'] = (df2['사망(명)']+df2['부상(명)'])*1.1
df2['가중치2'] = (df2['사망(명)']+df2['부상(명)'])*1.5
df2

          구분  사고(건)  사망(명)  부상(명)   가중치1   가중치2
0    2015년1월    205      8    375  421.3  574.5
1    2015년2월    175      8    375  421.3  574.5
2    2015년3월    237      4    492  545.6  744.0
3    2015년4월    227     10    486  545.6  744.0
4    2015년5월    231      9    504  564.3  769.5
5    2015년6월    207      8    401  449.9  613.5
6    2015년7월    273      7    556  619.3  844.5
7    2015년8월    268     19    534  608.3  829.5
8    2015년9월    252     10    501  562.1  766.5
9   2015년10월    214     14    475  537.9  733.5
10  2015년11월    199      3    398  441.1  601.5
11  2015년12월    213      8    428  479.6  654.0

In [55]:
df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')
filt = df3['구분'].str.slice(start=0,stop=4) =='2016'
df3['가중치1'] = (df3['사망(명)']+df3['부상(명)'])*1.1
df3['가중치2'] = (df3['사망(명)']+df3['부상(명)'])*1.3
df3

          구분  사고(건)  사망(명)  부상(명)   가중치1   가중치2
0    2016년1월    192      5    387  431.2  509.6
1    2016년2월    174      6    328  367.4  434.2
2    2016년3월    217      7    435  486.2  574.6
3    2016년4월    216      7    419  468.6  553.8
4    2016년5월    239     13    522  588.5  695.5
5    2016년6월    200     12    362  411.4  486.2
6    2016년7월    227      9    460  515.9  609.7
7    2016년8월    230      7    490  546.7  646.1
8    2016년9월    187     13    347  396.0  468.0
9   2016년10월    183     10    367  414.7  490.1
10  2016년11월    200      5    418  465.3  549.9
11  2016년12월    168      4    364  404.8  478.4

In [56]:
df = pd.concat([df1,df2,df3])
df

          구분  사고(건)  사망(명)  부상(명)   가중치1   가중치2
0    2014년1월    169      7    347  389.4  424.8
1    2014년2월    145      3    268  298.1  325.2
2    2014년3월    206     12    358  407.0  444.0
3    2014년4월    182      4    360  400.4  436.8
4    2014년5월    218     17    474  540.1  589.2
5    2014년6월    233     13    457  517.0  564.0
6    2014년7월    229     14    431  489.5  534.0
7    2014년8월    222      9    447  501.6  547.2
8    2014년9월    225     15    430  489.5  534.0
9   2014년10월    210     14    392  446.6  487.2
10  2014년11월    209     10    386  435.6  475.2
11  2014년12월    178     12    329  375.1  409.2
0    2015년1월    205      8    375  421.3  574.5
1    2015년2월    175      8    375  421.3  574.5
2    2015년3월    237      4    492  545.6  744.0
3    2015년4월    227     10    486  545.6  744.0
4    2015년5월    231      9    504  564.3  769.5
5    2015년6월    207      8    401  449.9  613.5
6    2015년7월    273      7    556  619.3  844.5
7    2015년8월    268     19    534  608.3  829.5
8    2015년9월    252     10    501  562.1  766.5
9   2015년10월    214     14    475  537.9  733.5
10  2015년11월    199      3    398  441.1  601.5
11  2015년12월    213      8    428  479.6  654.0
0    2016년1월    192      5    387  431.2  509.6
1    2016년2월    174      6    328  367.4  434.2
2    2016년3월    217      7    435  486.2  574.6
3    2016년4월    216      7    419  468.6  553.8
4    2016년5월    239     13    522  588.5  695.5
5    2016년6월    200     12    362  411.4  486.2
6    2016년7월    227      9    460  515.9  609.7
7    2016년8월    230      7    490  546.7  646.1
8    2016년9월    187     13    347  396.0  468.0
9   2016년10월    183     10    367  414.7  490.1
10  2016년11월    200      5    418  465.3  549.9
11  2016년12월    168      4    364  404.8  478.4